@font-face {
    font-family: 'Flower Salt';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/FlowerSalt/FlowerSalt.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/FlowerSalt/FlowerSalt.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/FlowerSalt/FlowerSalt.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/FlowerSalt/FlowerSalt.ttf') format('truetype');
}
